@import "../../app.component.scss";

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  animation-name: darking;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes darking {
  from { background: rgba(0, 0, 0, 0); }
  to {background: rgba(0, 0, 0, 0.50);}
}

.project-info-box {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 80vw;
  height: 100vh;
  // padding: 16px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  animation-name: modal-open;
  animation-duration: 0.8s;
  animation-delay: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  background-image: url(../../../assets/images/backgroundRecompressed.jpg);
  background-size: cover;
  background-repeat: repeat;
}

@keyframes modal-open {
  from {
    visibility: hidden;
    right: -25vw;
    // transform: scaleX(0.85);
    opacity: 0.8;
  }
  to {
    visibility: visible;
    right: 0vw;
    // transform: scaleX(1);
    opacity: 1;
  }
}

.project-info-box-actions {
  top: 50vh;
  left: 3vw;
  position: fixed;
  animation-name: action-btn-animations;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes action-btn-animations {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.btn-round {
  font-size: 2.5rem;
}

/* mobile mode */
@media only screen and (max-width: 768px) {
  // cover the whole screen
  .project-info-box {
    width: 100vw;
  }

  .project-info-box-actions {
    top: 0vh;
    left: 0vw;
  }
}
