@import "../app.component.scss";

.project-detail-container {
  height: 80%;
  display: flex;
  // overflow: auto;
  // overflow-y:hidden;
  overflow: hidden;
  flex-direction: column;
  // padding: 10px;
  // padding-top: 10px;
  // padding-left: 4px;
  // padding-right: 4px;
  // padding-bottom: 20px;
  // background-color: rgba(255, 255, 255, 0.4);
  // box-shadow: inset 0px 0px 15px 5px $color-blue;
  // box-shadow: inset 0 0 20px $color-blue;
  border-radius: 25px;
  background-color: white;
}

hr {
  border-top: 1px solid #383838;
  margin-bottom: 0;
  width: 100%;
}

.project-circle-containers {
  width: 5rem;
  display: flex;
  justify-content: space-evenly;
  margin: 0.6rem 0 0.6rem 0.5rem;
}

.project-circle {
  height: 22px;
  width: 22px;
  background-color: #555;
  border-radius: 50%;
}

.close-btn {
  background-color: #C30043;
  color: #fff;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.project-content-wrapper {
  height: 94.5%;
  overflow-y:auto;
}

.ribbon {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --s: 1em; /* the ribbon size */
  --d: .8em;  /* the depth */
  --c: .8em;  /* the cutout part */

  padding: 0 calc(var(--s) + .5em) var(--d);
  line-height: 1.8;
  background:
    conic-gradient(at left  var(--s) bottom var(--d),
     #0000 25%,#0008 0 37.5%,#0004 0) 0   /50% 100% no-repeat,
    conic-gradient(at right var(--s) bottom var(--d),
     #0004 62.5%,#0008 0 75%,#0000 0) 100%/50% 100% no-repeat;
  clip-path: polygon(0 var(--d), var(--s) var(--d),var(--s) 0,calc(100% - var(--s)) 0,calc(100% - var(--s)) var(--d),100% var(--d),calc(100% - var(--c)) calc(50% + var(--d)/2),100% 100%,calc(100% - var(--s) - var(--d)) 100%,calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) 100%,0 100%,var(--c) calc(50% + var(--d)/2));
  background-color: $color-blue; /* the main color */
  width: fit-content;
}

.project-title-wrapper {
  // margin: 0 auto;
  margin: 2.5rem auto 3rem auto;

  .project-title {
    color: $color-primary-text;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    text-align: center;
  }
}

.project-tech-icons-wraper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;

  img {
    margin-right: 0.5rem;
  }
}

.project-video-wraper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.project-video-wraper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  box-shadow: 4px 4px 30px 2px #888888;

  // img {
  //   max-height: auto;
  //   max-width: 50%;
  // }
}

.project-main-content-wrapper {
  border-radius: 25px;
  margin: 3.5rem 5% 3.5rem 5%;
  box-shadow: 4px 4px 30px 2px #888888;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: 0.2fr;
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;
  padding: 1.5rem;
  overflow-y: hidden;
}

.project-header-text {
  font-weight: bold;
  color: $color-secondary-text;
  // text-align: center;
  grid-area: 1 / 1 / 2 / 3;

  // .project-divider {
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 64%;
  //   height: 1px;
  //   margin-top: 2rem;
  //   background-color: #bebebe;
  // }
}

.project-about-text-container {
  color: $color-primary-text;
  font-size: 1.25rem;
  line-height: 1.7rem;
  max-inline-size: 66ch;
  overflow: auto;
  min-height: 10rem;
  grid-area: 2 / 1 / 3 / 2;
  padding-right: 0;
}

.project-tec-used {
  grid-area: 1 / 2 / 2 / 3;
  overflow-y: auto;
}

.tech-cards-container {
  grid-area: 2 / 2 / 3 / 3;
  overflow-y: auto;
  padding: 1rem 0rem 0rem 0rem;
  max-height: 28rem;
  & > * {
    /* top | right | bottom | left */
    margin: 0rem 0rem 0rem 1rem;
    display: inline-block;
    padding-bottom: 1rem;
  }
}

.project-code-btn-wraper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  li {
    margin: 1rem;
  }
}

// desktop view
@media only screen and (min-width: 768px) { // desktop view
  .project-detail-container {
    display: block;
    height: 90%;
    // box-shadow: inset 0 0 80px $color-blue;
  }

  .ribbon {
    font-size: 28px;
    --s: 1.8em; /* the ribbon size */
  }

  .project-title-wraper {
    h3 {
      font-size: 1rem;
    }
    .project-title {
      font-size: 3rem;
    }
  }

  .project-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    // overflow-y: hidden;
    margin: auto;
    width: 55%;
    padding: 3rem 6.5rem 3rem 6.5rem;

    // img {
    //   max-height: 70vh;
    // }
  }

  .project-video-wraper {
    margin: auto;
    width: 74%;
    padding-bottom: 46.25%;
  }

  .project-video-wraper iframe {
    height: 90%;
  }

  .project-main-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 3.5rem 10% 3.5rem 10%;
    padding: 2rem;
  }

  .project-header-text h2 {
    font-size: 1.5rem;
    margin: 0 0 1.3rem 0;
  }

  .project-about-text-container {
    max-height: 30rem;
    padding-right: 3.2rem;
    p {
      margin: 0;
    }
  }

  .tech-cards-container {
    margin: 0rem 0rem 0rem 1.4rem;
    padding: 1rem;
  }
  .project-code-btn-wraper {
    vertical-align: middle;
    padding: 1rem;
    li {
      margin: 0.5rem;
    }
  }
}

// test animation

// body {
// 	background: #00b4ff;
// 	color: #333;
// 	font: 100% Arial, Sans Serif;
// 	height: 100vh;
// 	margin: 0;
// 	padding: 0;
// 	overflow-x: hidden;
// }

#background-wrap {
  bottom: 10%;
	left: 10%;
	padding-top: 50px;
	position: fixed;
	right: 10%;
	top: 10%;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;

	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;

	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;

	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(to top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;

}

.cloud:after, .cloud:before {
  background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;

}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;

}
