<div class="project-detail-container">
  <div class="project-circle-containers">
    <div class="project-circle close-btn button-hover" (click)="onCloseModal()">x</div>
    <div class="project-circle" style="background-color: #EBA900;"></div>
    <div class="project-circle" style="background-color: #83D23E;"></div>
  </div>
  <hr>
  <div class="project-content-wrapper">

    <!-- <div id="background-wrap"> -->
      <div class="cloud-container">
        <div class="x1">
            <div class="cloud"></div>
        </div>

        <div class="x2">
            <div class="cloud"></div>
        </div>

        <div class="x3">
            <div class="cloud"></div>
        </div>

        <div class="x4">
            <div class="cloud"></div>
        </div>

        <div class="x5">
            <div class="cloud"></div>
        </div>
        <div class="x6">
            <div class="cloud"></div>
        </div>
      </div>
    <!-- </div> -->

    <div class="project-title-wrapper ribbon">
      <h1 class="project-title">{{ projectDetails.title }}</h1>
    </div>
    <div *ngIf="!projectDetails.hasVideo; else displayVideo" class="project-image-wrapper">
        <app-image-carousel [imageURLs]="projectDetails.album.images"></app-image-carousel>
    </div>
    <div *ngIf="isLoading">
      <div class="fa-3x">
        <i class="fa fa-spinner fa-pulse"></i>
      </div>
    </div>
    <ng-template #displayVideo>
      <div class="project-video-wraper">
        <iframe width="420" height="315"
        [src]="videoURL | safe" frameBorder="0" allowfullscreen>
        Browser not compatible.
        </iframe>
      </div>
    </ng-template>
    <div class="project-main-content-wrapper">
      <div class="about-section">
        <div class="project-header-text">
          <h2>About</h2>
        </div>
        <div class="project-about-text-container">
            <p>{{ projectDetails.details }}</p>
        </div>
      </div>
      <div class="tech-used-section">
        <div class="project-header-text">
          <h2>Tech used</h2>
        </div>
        <div class="tech-cards-container">
          <app-tech-card *ngFor="let icon of projectDetails.tech_skills" [icon]="icon"></app-tech-card>
        </div>
      </div>
    </div>
    <div class="project-btn-wraper">
      <ul class="project-code-btn-wraper">
        <li>
          <a [href]="projectDetails.demoURL" target="_blank" class="display-code-btn">Demo</a>
        </li>
        <li>
          <a [href]="projectDetails.codeURL" target="_blank" class="display-code-btn">Code</a>
        </li>
      </ul>
    </div>
  </div>
</div>
