@import "../app.component.scss";

.project-detail-container {
  height: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 0px 15px 5px $color-blue;
}

.project-title-wraper {
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0;
    text-align: center;
    color: $color-secondary-text;
  }
  .project-title {
    color: $color-primary-text;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    text-align: center;
  }
}

.project-tech-icons-wraper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 0.5rem;
  }
}

.project-image-wraper {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 50vh;
  }
}

.project-about {
  font-weight: bold;
  color: $color-secondary-text;
}

.project-about-text-container {
  color: $color-primary-text;
  font-size: 1.25rem;
  letter-spacing: 0.03rem;
  line-height: 1.5rem;
  overflow: auto;
  min-height: 15rem;
}

.project-code-btn-wraper {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  li {
    margin: 1rem;
  }
}

// desktop view
@media only screen and (min-width: 768px) {
  .project-detail-container {
    display: block;
  }

  .project-title-wraper {
    h3 {
      font-size: 1rem;
    }

    .project-title {
      font-size: 3rem;
    }
  }

  .project-image-wraper {

    img {
      max-height: 70vh;
    }
  }

  .project-about h2 {
    font-size: 1.5rem;
  }

  // .project-about-text-container {
  //   height: 20rem;
  // }

  .project-code-btn-wraper {
    li {
      margin: 0.5rem;
    }
  }
}
