<div class="project-detail-container">
  <div class="project-title-wraper">
    <h3>Project</h3>
    <h1 class="project-title">FlashDek</h1>
  </div>
  <div class="project-tech-icons-wraper">

      <img class="devicon" src="../../assets/svgs/python.svg">
      <img class="devicon" src="../../assets/svgs/typescript.svg">
      <img class="devicon" src="../../assets/svgs/javascript.svg">
      <img class="devicon" src="../../assets/svgs/android.svg">
      <img class="devicon" src="../../assets/svgs/angularjs.svg">
      <img class="devicon" src="../../assets/svgs/apache.svg">
      <img class="devicon" src="../../assets/svgs/sass.svg">
      <img class="devicon" src="../../assets/svgs/css3.svg">
      <img class="devicon" src="../../assets/svgs/cplusplus.svg">
      <img class="devicon" src="../../assets/svgs/django.svg">
      <img class="devicon" src="../../assets/svgs/ubuntu.svg">
      <img class="devicon" src="../../assets/svgs/mysql.svg">
      <img class="devicon" src="../../assets/svgs/git.svg">
      <img class="devicon" src="../../assets/svgs/html5.svg">

  </div>
  <div class="project-image-wraper">
    <img src="../../assets/images/aboutheader.jpg">
  </div>
  <div class="project-about">
    <h2>About</h2>
  </div>
  <div class="project-about-text-container">
    <article>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Fugit architecto quo totam,
        necessitatibus sint tempore, minus quis doloremque
        tenetur nemo iste dolore culpa laboriosam quia deleniti
        blanditiis quas harum dolorum.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Fugit architecto quo totam,
        necessitatibus sint tempore, minus quis doloremque
        tenetur nemo iste dolore culpa laboriosam quia deleniti
        blanditiis quas harum dolorum.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Fugit architecto quo totam,
        necessitatibus sint tempore, minus quis doloremque
        tenetur nemo iste dolore culpa laboriosam quia deleniti
        blanditiis quas harum dolorum.
    </article>
  </div>
  <div class="project-btn-wraper">
    <ul class="project-code-btn-wraper">
      <li>
        <a href="#" class="display-code-btn">Demo</a>
      </li>
      <li>
        <a href="#" class="display-code-btn">Code</a>
      </li>
    </ul>
  </div>

</div>
