$color-blue: rgb(44, 195, 239);
$color-blue-alpha: rgba(44,195,239, 0.5);
$color-primary-text: #000000;
$color-secondary-text: #212931;
$color-primary-border: #eeeeee;

.devicon {
  max-width: 3.5rem;
}

.project-code-btn-wraper {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.display-code-btn {
  box-shadow: inset 0 0 0 2px #212931;
  display: inline-block;
  height: 3.70rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.075em;
  font-size: 1rem;
  line-height: 3.5rem;
  color: #212931;
  font-weight: 900;
}

.display-code-btn:hover {
  box-shadow: inset 0 0 0 2px rgb(44, 195, 239);
  color: $color-blue;
}

.display-code-btn {
  padding: 0 2.10rem;
}

.btn-round {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  height: 8rem;
  width: 8rem;
  background: radial-gradient(circle,  rgba(255, 255, 255, 0.5) 0%, rgba(0,0,0,0) 75%);
}

.btn-round:hover {
  border: 2px solid $color-blue;
  color: $color-blue;
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, $color-blue 100%);
}

.btn-round::-moz-focus-inner {
  border: 0;
  color: $color-blue;
}

.btn-round:focus {
  color: $color-blue;
}

/* mobile mode */
@media only screen and (max-width: 768px) {
  .devicon {
    max-width: 4rem;
  }

  .btn-round {
    height: 4rem;
    width: 4rem;
    color: $color-primary-text;
    border-color: $color-secondary-text;
  }
}
