@import "../../app.component.scss";


// Desktop view
.container {
  position: relative;
  display: inline-block;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

.previous-btn {
  position: absolute;
  top: 50%;
  left: -70px;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  border: 0px;
}

.next-btn {
  position: absolute;
  top: 50%;
  right: -70px;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  border: 0px;
}

// mobile view
@media only screen and (max-width: 600px) {
  .previous-btn {
    font-size: 3rem;
  }

  .next-btn {
    font-size: 3rem;
  }
}

.dots-container {
  position: absolute;
  right: 48%;
  bottom: -13px;
}

.dot {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: rgb(202, 202, 202);

  cursor: pointer;
  border: none;

  &:hover {
    box-shadow: 0 0 30px $color-blue;
  }

  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.dot-selected {
  background-color: $color-blue;
}
