<ng-template [ngIf]="imageURLs.length !== 0" [ngIfElse]="noImages">
  <div class="container">
    <img [src]="imageURLs[currentImageIndex]?.image">
    <button class="previous-btn btn-round " (click)="onPrevious()">
      <i class="fa">&#xf104;</i>
    </button>
    <button class="next-btn btn-round" (click)="onNext()">
      <i class="fa">&#xf105;</i>
    </button>
    <div class="dots-container">
      <button class="dot" *ngFor="let imgs of imageURLs; index as i" (click)="onClickDot(i)" [ngClass]="{'dot-selected': currentImageIndex == i}"></button>
    </div>
  </div>
</ng-template>
<ng-template #noImages>
  <p>Project has no images available...</p>
</ng-template>
