/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

// used to color the linkedin svg
// this does not work on google chrome edited svg file directly with
// the colors
#linkedin {
  // .cls-1{fill:#0076b2;}
  .cls-1 {fill: #fff;}
  .cls-2{fill:#0076b2;}
}

// used when modal is open to remove the main body scroll bar
.ovh {
  overflow: hidden;
}
