@import "../app.component.scss";

#projects-container {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  // background-color: #212931;
  background-image: url(../../assets/images/backgroundRecompressed.jpg);
  // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(255, 255, 255, 0.144)), url(../../assets/images/backgroundRecompressed.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

a:hover {
  color: $color-blue;
}

.main-wraper {
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

.best-project-wraper {
  background-color: #ffffff;
  flex-flow: column;
  padding: 3rem 2rem 2rem 2rem;
  text-align: center;
  // uncomment to add a space between the best project and the other projects
  // or the projects's title: Projects
  // margin-bottom: 5rem;
}

.best-project-title {
  font-size: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  letter-spacing: 0.075em;
  color: #212931;
  font-weight: 900;

}
.best-project-header-container p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.40rem;
  text-align: center;
  font-style: italic;
  line-height: 2;
}

.portfolio-header-wraper {
  display: flex;
  flex-direction: column;
  min-height: 36rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  .portfolio-title-name {
    font-size: 3rem;
    margin: 0;
  }

  p {
    font-weight: bold;
  }
}

// handles the title for the Projects section
.projects-title-wraper {
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

/* for desktop view */
@media only screen and (min-width: 768px) {
  /* adjust themiddlw white page divider */
  .main-wraper {
      max-width: 92rem;
      width: calc(100% - 4rem);
  }

  .portfolio-header-wraper {
    .portfolio-title-name {
      font-size: 4.5rem;
    }
  }

  .project-image-div {
      width: 70%;
      margin: 4rem 0;
  }

  .best-project-wraper {
      padding: 6rem 4rem 4rem 4rem;
  }
  .display-code-btn {
      padding: 0 2.10rem;
  }
  /* make sub-projects display 2 posts per row */
  .articles-wraper {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      text-align: center;
      width: 100%;
      margin: 0;
  }
  .project-wraper {
      box-sizing: border-box;
      padding: 4rem;
      width: 50%;
  }
  .project-wraper img {
      margin: 2rem 0;
      display: block;
      width: 100%;
  }
  /* make the content seperator borders */
  .articles-wraper article:nth-child(-n + 2) {
      border-top-width: 0;
  }

  .articles-wraper article:nth-child(2n - 1) {
      border-left-width: 0;
  }
}

/* for mobile mode code btn */
@media only screen and (max-width: 768px) {

  .display-code-btn {
      width: 100%;
      padding: 0;
  }
  #projects-container > .BG {
      display: none;
  }
  .articles-wraper article {
      padding: 2rem;
  }
  .articles-wraper article:nth-child(n) {
      border-left-width: 0;
  }
  .project-wraper .display-code-btn {
      text-align: center;
  }
  .articles-wraper {
      text-align: center;
  }
  .nav-hamburger-wraper {
    position: fixed;
    background-color: $color-blue;
    background: radial-gradient(circle, rgba(44,195,239,1) 0%, rgba(255,255,255,0) 100%);
    top: 0vh;
    right: 0vw;
    z-index: 1;
  }

  .nav-hamburger-wraper-remove-background-color {
    background: transparent;
  }

  .hamburger-backdrop {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0vh;
    height: 100vh;
    width: 100vw;
    background-color: $color-blue;
    background: radial-gradient(circle,
     rgba(44,195,239,0.8239495627352503) 0%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
    animation-name: hamburger-backdrop-open;
    animation-fill-mode: forwards;
    animation-duration: 1s;

    a {
      text-decoration: none;
      color: $color-secondary-text;
    }

    .hamburger-link-wraper {
      display: flex;
      flex-direction: row;

      i {
        padding: 0.5rem;
        text-align: center;
        font-size: 2.5rem;
      }
    }
  }

  @keyframes hamburger-backdrop-open {
    from {
      opacity: 0.5;
    }

    to {
      opacity: 1;
    }
  }
}
/* End mobile view */

.project-code-btn-wraper {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.display-code-btn {
  box-shadow: inset 0 0 0 2px #212931;
  display: inline-block;
  height: 3.70rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.075em;
  font-size: 1rem;
  line-height: 3.5rem;
  color: #212931;
  font-weight: 900;
}

.display-code-btn:hover {
  box-shadow: inset 0 0 0 2px rgb(44, 195, 239);
}

// not needed unless using featured project on top of
// portfolio which is currently commented out in the home.html
// .best-project-image:hover {
//   transform: scale(1.05)
// }

// .best-project-image {
//   transition: 2s ease-out;
//   width: 100%;
//   display: block;
// }

.project-image-div {
  display: inline-block;
  overflow: hidden;
  margin: 2rem 0;
}

.articles-wraper {
  border-top: solid 2px #eeeeee;
  border-bottom: solid 2px #eeeeee;
}

/* border is set to 0 to remove outside border then using nth in desktop query to make the border to split content */
.articles-wraper article {
  border: 0;
  border-top-width: 2px;
  border-left-width: 2px;
  border-color: #eeeeee;
  border-style: solid;
  border-top-style: solid
}

.project-wraper p {
  font-size: 1rem;
  margin: 0 0 2rem 0;
  text-align: justify;
  line-height: 2;
  font-weight: 400;
}

.project-title {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  letter-spacing: 0.075em;
  color: #212931;
  font-weight: 900;
}

.link-tab-wraper {
  position: fixed;
  top: 50vh;
  left: 0vw;
}
