<div id="projects-container">

  <div class="main-wraper">
    <!--
      use this feature when wating to display a featured project above the projects sections
    -->
    <!-- <article class="best-project-wraper">
      <header class="best-project-header-container">
        <h1><a href="#" class="best-project-title">Angular with django reast framework</a></h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit architecto quo totam, necessitatibus sint tempore, minus quis doloremque tenetur nemo iste dolore culpa laboriosam quia deleniti blanditiis quas harum dolorum.</p>
      </header>
      <div class="project-image-div">
        <img src="../../assets/images/aboutheader.jpg" class="best-project-image" alt="">
      </div>
      <ul class="project-code-btn-wraper">
        <li>
          <a href="#" class="display-code-btn" (click)="onClickFeaturedProject()" >View Project</a>
        </li>
      </ul>
    </article> -->

    <div class="portfolio-header-wraper">
      <header class="portfolio-content-container">
        <h1 class="portfolio-title-name">Jose Velasco</h1>
        <app-text-animation></app-text-animation>
      </header>
    </div>

    <article class="best-project-wraper projects-title-wraper">
      <header class="best-project-header-container">
        <h2>Projects</h2>
      </header>
      <div *ngIf="isLoadingProjects">
        <div class="fa-3x">
          <i class="fa fa-spinner fa-pulse"></i>
        </div>
      </div>
    </article>

    <!-- used for as view container ref for modal -->
    <ng-template appPlaceholder></ng-template>

    <app-project></app-project>

    <div class="link-tab-wraper" *ngIf="!isMobileView">
      <app-link-tabs></app-link-tabs>
    </div>
    <div class="nav-hamburger-wraper" *ngIf="isMobileView"
      [ngClass]="{'nav-hamburger-wraper-remove-background-color': isHamburgerToggled}">
      <app-nav-hamburger (onToggled)="onToggleHamburger($event)"></app-nav-hamburger>
    </div>
    <div class="hamburger-backdrop" *ngIf="isMobileView && isHamburgerToggled">
      <a [href]="mediaLinksFromService.linkedin" target="_blank">
        <div class="hamburger-link-wraper">
          <h2>Linkedin</h2>
          <i class="fa">&#xf08c;</i>
        </div>
      </a>
      <a [href]="mediaLinksFromService.github" target="_blank">
        <div class="hamburger-link-wraper">
          <h2>Github</h2>
          <i class="fa">&#xf09b;</i>
        </div>
      </a>
      <a href="mailto:{{mediaLinksFromService.email}}">
        <div class="hamburger-link-wraper">
          <h2>E-mail</h2>
          <i class="fa">&#xf0e0;</i>
        </div>
      </a>
      <a [href]="mediaLinksFromService.resume" target="_blank">
        <div class="hamburger-link-wraper">
          <h2>Resume</h2>
          <i class="fa">&#xf2bb;</i>
        </div>
      </a>
    </div>
  </div>

  <div class="BG"></div>

</div>
