@import "../../app.component.scss";

.link-tab-container {
  display: flex;
  flex-direction: column;
  width: 11rem;
}

.link-tab-wraper {
  position: relative;
  left: -110px;
  background-color: #0076b2;
  padding: 0.5rem;
  text-transform: uppercase;
  padding: 0rem 0rem 0rem 2rem;
  transition: transform 1.5s;
  a {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    width: 100%;
  }

  // check global scss stylesheet for linkedin icon color
  .link-tab-icon {
    padding: 0.25rem;
    height: 2.5rem;
  }

  .tab-github-icon {
    fill: #ffffff;
    padding-left: 0.75rem;
  }

  .tab-envelope-icon {
    color: #ffffff;
    padding-left: 1rem;
  }

  .tab-adress-card-icon {
    color: #ffffff;
    padding-left: 0.5rem;
  }
}

.link-tab-github {
  background-color: #333333;
}

.link-tab-envelope {
  background-color: #68b8ae;
}

.link-tab-adress-card {
  background-color: $color-secondary-text;
}

// .test-animin {
//   transition: transform 2s;
// }

.link-tab-wraper:hover {
  transform: translateX(105px);

}
