<div class="link-tab-container">
  <div class="link-tab-wraper">
    <a [href]="mediaLinks.linkedin" target="_blank">
      <p>Linkedin</p>
      <svg class="link-tab-icon">
        <use xlink:href="../../../../assets/svgs/linkedin.svg#linkedin"></use>
      </svg>
    </a>
  </div>

  <div class="link-tab-wraper link-tab-github">
    <a [href]="mediaLinks.github" target="_blank">
      <p>Github</p>
      <svg class="link-tab-icon tab-github-icon">
        <use xlink:href="../../../../assets/svgs/github.svg#github-icon"></use>
      </svg>
    </a>
  </div>

  <div class="link-tab-wraper link-tab-envelope">
    <a href="mailto:{{mediaLinks.email}}">
      <p>E-mail</p>
      <svg class="link-tab-icon tab-envelope-icon">
        <use xlink:href="../../../../assets/svgs/envelope.svg#envelope-icon"></use>
      </svg>
    </a>
  </div>

  <div class="link-tab-wraper link-tab-adress-card">
    <a href="#">
      <p>Resume</p>
      <svg class="link-tab-icon tab-adress-card-icon">
        <use xlink:href="../../../../assets/svgs/address-card.svg#adress-card-icon"></use>
      </svg>
    </a>
  </div>

</div>
