<div class="link-tab-container">
  <div class="link-tab-wraper">
    <a href="#">
      <p>Linkedin</p>
      <svg class="link-tab-icon">
        <use xlink:href="../../../../assets/svgs/linkedin.svg#linkedin"></use>
      </svg>
    </a>
  </div>

  <div class="link-tab-wraper">
    <a href="#">
      <p>Github</p>
      <svg class="link-tab-icon">
        <use xlink:href="../../../../assets/svgs/github.svg#github-icon"></use>
      </svg>
    </a>
  </div>

  <div class="link-tab-wraper">
    <a href="#">
      <p>E-mail</p>
      <svg class="link-tab-icon tab-envelope">
        <use xlink:href="../../../../assets/svgs/envelope.svg#envelope-icon"></use>
      </svg>
    </a>
  </div>

  <div class="link-tab-wraper tab-adress-card-icon">
    <a href="#">
      <p>Resume</p>
      <svg class="link-tab-icon tab-adress-card">
        <use xlink:href="../../../../assets/svgs/address-card.svg#adress-card-icon"></use>
      </svg>
    </a>
  </div>

</div>
